#blog-header {
	background-color: #fff;
	background-image: url('images/blog2.jpg');
	background-repeat: no-repeat;
	height: 220px;
	width: 960px;
}
.blog-header {
	text-align: right;
}
#content .third h4 {
	color: #ffa500;
}
.wp-pagenavi {
	text-align: center;
}
